/* css/highlight/atom-one-dark.min.css */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  color: #abb2bf;
  background: #282c34;
}
.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}
.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #c678dd;
}
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #e06c75;
}
.hljs-literal {
  color: #56b6c2;
}
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #98c379;
}
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #d19a66;
}
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #61aeee;
}
.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #e6c07b;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
.hljs-link {
  text-decoration: underline;
}

/* css/font.css */
@font-face {
  font-family: "Serif";
  src: url("./Gelasio-VariableFont_wght-Q2URFVS2.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Serif";
  src: url("./Gelasio-Italic-VariableFont_wght-YD7R625L.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "Sans";
  src: url("./OpenSans-VariableFont_wdth,wght-R5QF7XJK.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Sans";
  src: url("./OpenSans-Italic-VariableFont_wdth,wght-INZPK67F.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "Mono";
  src: url("./VictorMono-VariableFont_wght-FDXWURHG.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Mono";
  src: url("./VictorMono-Italic-VariableFont_wght-TIKUXMYD.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/* css/main.css */
:root {
  --font-size: 18px;
  --font-h-factor: 1.15;
  --h6-size: calc(var(--font-size) * var(--font-h-factor));
  --h5-size: calc(var(--h6-size) * var(--font-h-factor));
  --h4-size: calc(var(--h5-size) * var(--font-h-factor));
  --h3-size: calc(var(--h4-size) * var(--font-h-factor));
  --h2-size: calc(var(--h3-size) * var(--font-h-factor));
  --h1-size: calc(var(--h2-size) * var(--font-h-factor));
  --title-font-size: 2rem;
  --main-bg: #fffff8;
  --main-text: #111111;
  --heading: #b71c1c;
  --mark: #ffccbc;
  --algorithm-bg: #e3f2fd;
  --algorithm-border: #0d47a1;
  --note-bg: #f1f8e9;
  --note-border: #33691e;
  --abstract-bg: #f3e5f5;
  --abstract-border: #4a148c;
  --definition-bg: #eceff1;
  --definition-border: #263238;
  --example-bg: #FBE9E7;
  --example-border: #BF360C;
  --quote-bg: #fff3e0;
  --quote-border: #e65100;
  --aside-border: #1b5e20;
  --aside-bg: #e8f5e9;
  --link: #007acc;
  --code: #ddd;
  --hr: #ddd;
  --radius: 2px;
  --kw-todo: var(--heading);
  --kw-doing: var(--quote-border);
  --kw-waiting: var(--kw-doing);
  --kw-done: var(--aside-border);
  --kw-failed: var(--main-text);
  --line-height: 1.5;
  --annotation: #777;
  --button-over: #fffff0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Serif";
  color: var(--main-text);
  background: var(--main-bg);
  font-size: 18px;
  line-height: var(--line-height);
  text-rendering: optimizeLegibility;
  text-align: justify;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}
body {
  margin: 20px;
}
main {
  display: flex;
  justify-content: center;
  max-width: 125ch;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 66vh;
}
.topbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--annotation);
  margin-bottom: 2rem;
}
.button {
  font-family: "Mono" !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid var(--annotation);
  padding: 1em;
  color: var(--main-text);
  font-weight: lighter;
  font-family: "Sans";
  background-color: inherit;
  border-radius: 2px;
  font-size: 0.8rem;
}
.button:hover {
  background-color: var(--button-over);
  text-decoration: none;
  transition-duration: 0.1s;
}
.button:focus {
  outline: 1px transparent;
}
.button:before {
  display: none;
}
.button:-webkit-details-marker {
  display: none;
}
section > h1 {
  font-size: var(--title-font-size);
  display: block;
  text-align: center;
  border-bottom: none;
  margin: 10vh auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: table;
  padding-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.2;
  padding-bottom: 0.1em;
  border-bottom: 1px solid currentColor;
  margin-bottom: 1.2rem;
  font-family: "Sans";
  font-weight: normal;
  color: var(--heading);
}
#content section:has(h1, h2, h3, h4, h5, h6) {
  padding-left: 1rem;
}
#content > section:has(h1) > section:has(h2) {
  padding-left: 0;
}
#content > section:has(h1) {
  padding-left: 0;
}
.small-caps {
  font-variant: small-caps;
  font-size: 1.2em;
}
.all-small-caps {
  font-variant: all-small-caps;
}
#content {
  position: relative;
  max-width: 70ch;
  flex-grow: 1;
  border: 1px solid var(--annotation);
  padding: 1rem;
}
hr + * {
  padding-top: 0;
}
.navbar {
  text-align: end;
  font-size: 0.9rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
#table-of-content {
  margin-left: 1rem;
  max-width: 40ch;
}
#table-of-content h1 {
  display: none;
}
#table-of-content h2,
#table-of-content h3,
#table-of-content h4,
#table-of-content h5,
#table-of-content h6 {
  text-align: left;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
  color: var(--main-text);
  display: block;
  border: none;
}
#table-of-content h2 {
  margin-left: 0em;
}
#table-of-content h3 {
  margin-left: 1em;
}
#table-of-content h4 {
  margin-left: 2em;
}
#table-of-content h5 {
  margin-left: 3em;
}
#table-of-content h6 {
  margin-left: 4rem;
}
#table-of-content::before {
  content: "Contents";
  color: var(--heading);
}
p {
  margin-bottom: calc(var(--line-height) * 1em);
}
.cartridge {
  position: relative;
  max-width: 90%;
  margin: 4rem auto;
  padding: 1rem;
  border-radius: var(--radius);
}
.cartridge *:last-child {
  margin-bottom: 0;
}
.cartridge.abstract {
  font-size: 0.9em;
  background-color: var(--abstract-bg);
  border: 1px solid var(--abstract-border);
  max-width: 70%;
  margin: 15vh auto;
}
.cartridge.abstract::before {
  content: "Abstract";
  position: absolute;
  top: calc(-1 * (1em + 1px + 0.75em));
  right: 0;
  font-size: 0.75em;
  color: var(--annotation);
}
.cartridge.definition {
  background-color: var(--definition-bg);
  border: 1px solid var(--definition-border);
}
.cartridge.definition::before {
  content: "Definition";
  position: absolute;
  top: calc(-1 * (1em + 1px + 0.75em));
  right: 0;
  font-size: 0.75em;
  color: var(--annotation);
}
.cartridge.note {
  background-color: var(--note-bg);
  border: 1px solid var(--note-border);
}
.cartridge.note::before {
  content: "Note";
  position: absolute;
  top: calc(-1 * (1em + 1px + 0.75em));
  right: 0;
  font-size: 0.75em;
  color: var(--annotation);
}
.cartridge.algorithm {
  background-color: var(--algorithm-bg);
  border: 1px solid var(--algorithm-border);
}
.cartridge.algorithm::before {
  content: "Algorithm";
  position: absolute;
  top: calc(-1 * (1em + 1px + 0.75em));
  right: 0;
  font-size: 0.75em;
  color: var(--annotation);
}
.cartridge.example {
  background-color: var(--example-bg);
  border: 1px solid var(--example-border);
}
.cartridge.example::before {
  content: "Example";
  position: absolute;
  top: calc(-1 * (1em + 1px + 0.75em));
  right: 0;
  font-size: 0.75em;
  color: var(--annotation);
}
a {
  color: var(--link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
code,
pre {
  font-family: "Mono";
  font-size: 0.9em;
  border-radius: var(--radius);
}
code {
  background-color: var(--code);
  border-radius: var(--radius);
  padding: 0 0.2rem;
}
pre {
  margin-bottom: 1rem;
  overflow-x: auto;
}
em,
strong {
  font-style: italic;
}
strong {
  font-weight: bold;
}
mark {
  background-color: var(--mark);
  border-radius: var(--radius);
  padding: 0 0.2em;
}
blockquote {
  font-style: italic;
  color: var(--main-text);
  background-color: var(--quote-bg);
  border: 1px solid var(--quote-border);
}
blockquote::before {
  content: "Quote";
  position: absolute;
  top: calc(-1 * (1em + 1px + 0.75em));
  right: 0;
  font-size: 0.75em;
  color: var(--annotation);
}
blockquote footer {
  text-align: right;
  font-size: 0.875rem;
  color: var(--main-text);
}
dl {
  margin-bottom: 1.5rem;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}
ul,
ol {
  padding-left: 1.5em;
  margin-bottom: 1.5em;
}
li {
  margin-bottom: 0.5em;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
}
th,
td {
  padding: 0.75rem;
  border: 1px solid var(--hr);
}
thead th {
  background-color: var(--hr);
  text-align: left;
}
figure {
  margin: 4rem auto;
}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
figure img,
figure iframe {
  max-width: 100%;
}
figure iframe {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
}
figure figcaption {
  margin-top: 1rem;
  text-align: center;
}
img,
iframe {
  border: 1px solid;
  padding: 2px;
  border-radius: var(--radius);
}
footer {
  text-align: center;
  font-size: 0.875rem;
  color: var(--main-text);
  margin-top: 2rem;
}
hr {
  border: 0;
  height: 1px;
  background: var(--hr);
  margin: 4rem 0;
}
aside {
  width: 40%;
  padding: 0.5em;
  float: right;
  background-color: var(--aside-bg);
  border-left: 3px solid var(--aside-border);
  border-radius: var(--radius);
  font-size: 0.875em;
  color: var(--main-text);
  margin-left: 1em;
}
aside p {
  margin: 0;
}
.keyword {
  font-family: "Mono";
  padding: 0 0.2em;
  margin-right: 0.5em;
  color: var(--main-bg);
  border-radius: var(--radius);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
}
.keyword.todo {
  background-color: var(--kw-todo);
}
.keyword.todo::before {
  content: "todo";
}
.keyword.doing {
  background-color: var(--kw-doing);
}
.keyword.doing::before {
  content: "doing";
}
.keyword.waiting {
  background-color: var(--kw-waiting);
}
.keyword.waiting::before {
  content: "waiting";
}
.keyword.done {
  background-color: var(--kw-done);
}
.keyword.done::before {
  content: "done";
}
.keyword.failed {
  background-color: var(--kw-failed);
}
.keyword.failed::before {
  content: "failed";
}
.theorem {
  padding-left: 1rem;
  background-color: blue;
}
.theorem .actions {
  display: flex;
  justify-content: end;
}
.theorem .button {
  background-color: aqua;
  position: relative;
  padding: 0;
  margin: 0;
}
.theorem .assertion {
  background-color: red;
}
.theorem .proof {
  background-color: green;
  display: none;
}
@media (max-width: 800px) {
  body {
    margin: 0;
    font-size: 16px;
  }
  main {
    padding: 0.5rem;
  }
  .topbar {
    margin-bottom: 2rem;
  }
  #table-of-content {
    display: none;
  }
  .cartridge.abstract {
    max-width: 80%;
  }
  aside {
    display: none;
  }
}
